body {
	height: 100%;
	position: relative;
	padding-top: 100px;
}

.nav-title {
	margin-bottom: 0;
	padding-bottom: 0;
	margin-left: 18px;
	display: block;
}

.underheader {
	margin-left: 20px;
	color: white;
	margin-right: auto;
	display: block;
}

.undertitle {
}

.top-banner {
	height: 90px;
	z-index: 1;
	width: 100%;
	/* background-color: lightgray; */
}

.x {
	height: 20000px;
}

.containerx {
	text-align: center;
	padding-top: 10px;
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
	margin-left: 0;
	text-align: center;
}

.main-title {
	font-size: 7.1rem;
	font-weight: bold;
	margin-bottom: 0;
	margin-right: 10px;
	text-decoration-color: #292b2c;
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	padding-left: 20px;
}

.main-container {
	width: 100%;
	/* height: 50vh; */
	display: flex;
	justify-content: flex-end;
	position: relative;
}

.description {
	font-size: 1.2em;
	color: grey;
	font-weight: bold;
}

.title-text {
	justify-content: flex-start;
	position: relative;
}

.title-page-box {
	width: 100%;
}

.padder-small {
	height: 40px;
}

.padder-xsml {
	height: 20px;
}

.padder-med {
	height: 40px;
}

.padder-lg {
	height: 100px;
}

.padder {
	height: 650px;
}

.decoration {
	width: 100%;
	height: 30px;
	margin-bottom: 20px;
}
.decoration2 {
	width: 100%;
	height: 5px;
}
.decoration3 {
	width: 100%;
	height: 10px;
}

.greeting {
	height: 800px;
	width: 100%;
	text-align: center;
}

h2.white {
	padding-top: 50px;
	padding-bottom: 30px;
}

p.top {
	margin: 0;
	font-size: large;
	font-weight: bold;
}

p.bottom {
	margin-bottom: 20px;
	font-size: large;
	font-weight: bold;
}

.pic {
	height: 40vw;
	transition: all 1s;
	position: relative;
}

.pic:hover {
	height: 42vw;
}

.blue {
	color: rgb(112, 182, 223);
}

.blue-bg {
	background-color: rgb(112, 182, 223);
}

.orange {
	color: orange;
	font-family: 'Bebas Neue', cursive;
}

.white {
	color: white;
}

.dark {
	color: rgb(48, 51, 78);
}

.resume {
	color: white;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: black;
}

.skills {
	width: 70%;
	height: auto;
	background-color: white;
	display: inline-block;
	border: rgb(112, 182, 223) solid 5px;
	padding-bottom: 50px;
}

.skill-title {
	font-weight: bold;
	font-size: 3em;
	padding: 10px 0 15px 0;
	color: white;
	margin-bottom: 30px;
}

h2 span {
	font-size: 3rem;
}

svg {
	transition: all 1s;
}

svg:hover {
	height: 150px;
	width: 150px;
}

.skill-desc {
	font-weight: bold;
	margin-top: 10px;
	color: rgb(48, 51, 78);
	text-decoration: underline;
}

.more {
	padding-top: 70px;
	padding-bottom: 20px;
	font-weight: bold;
}

.hidden {
	display: none;
}

.extra {
	color: rgb(41, 43, 63);
}

.projects-wrapper {
	height: auto;
	text-align: center;
}

.project-name {
	font-size: 2rem;
	padding-bottom: 5px;
	margin-bottom: 0;
	color: white;
}

.proj-desc {
	height: auto;
	background-color: rgba(167, 165, 165, 0.068);
	margin: 10px 0 0 0;
	padding: 25px 25px 25px 25px;
}

p.proj-description {
	margin-bottom: 0;
	color: white;
}

.projects-inner {
	height: 100%;
	width: 70%;
	border: 5px solid rgb(112, 182, 223);

	display: inline-block;
}

.proj-header {
	padding: 5px 0 5px 0;
	font-size: 3rem;
	font-weight: bold;
	color: white;
	margin-top: 0;
}

.img-box {
	height: 60%;
	border: 5px solid rgb(112, 182, 223);
}

.proj-pic {
	width: 100%;
}

.card {
	margin: 50px 20px;
	display: block;
	height: auto;
	min-height: 300px;
	min-width: 20%;
}

.proj {
	height: auto;
	padding: 10px 80px 10px 80px;
	text-align: center;
}

.card-btn {
	bottom: 10%;
	right: 25%;
}

.card-btn2 {
	bottom: 20%;
	right: 25%;
}

.font {
	font-family: 'Barlow Condensed', sans-serif;
}

/* media queries */

@media (max-width: 700px) {
	.skill-title {
		padding-top: 0;
	}

	.padder {
		height: 2400px;
	}

	.projects-wrapper {
		display: inline-block;
		height: auto;
	}

	.proj {
		align-self: flex-end;
		margin: 0;
		padding: 0 0 20px 170px;
	}

	h3.sizing {
		font-size: 10rem;
		padding: 10000000px;
	}

	.description {
		font-size: 0.7rem;
		color: grey;
		font-weight: bold;
	}
	.pic {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
	.pic:hover {
		height: 40vh;
	}

	.intro {
		margin-left: 5px;
		margin-right: 5px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.decoration3 {
		margin-top: 0;
	}
}

@media (max-width: 550px) {
	.main-title {
		font-size: 2rem;
		padding-bottom: 10px;
	}
	body {
		padding-top: 90px;
	}
}
