body {
	height: 100%;
	position: relative;
}

/*  */

/*  */

.nav-title {
	margin-bottom: 0;
	padding-bottom: 0;
	margin-left: 18px;
	display: block;
}

.underheader {
	margin-left: 20px;
	color: white;
	margin-right: auto;
	display: block;
}

.undertitle {
}

.top-banner {
	height: 90px;
	z-index: 1;
	width: 100%;
	/* background-color: lightgray; */
}

.x {
	height: 20000px;
}

.containerx {
	text-align: center;
	padding-top: 10px;
	padding-left: 0;
	padding-right: 0;
	margin-right: 0;
	margin-left: 0;
	text-align: center;
}

.containerxx {
	text-align: center;
	padding: 50px 0 50px 0;
	margin-right: 0;
	margin-left: 0;
	text-align: center;
}

.svg-top {
	position: absolute;
	left: 35%;
	bottom: 51%;
	z-index: 20;
	height: 30px;
}

.svg-top3 {
	position: absolute;
	left: 37%;
	bottom: 51%;
	z-index: 20;
	height: 30px;
}

.svg-top4 {
	position: absolute;
	left: 39%;
	bottom: 51%;
	z-index: 20;
	height: 30px;
}

.main-title {
	font-size: 9.1rem;
	font-weight: bold;
	margin-bottom: 0;
	margin-right: 10px;
	text-decoration-color: #292b2c;
	display: inline-block;
	position: absolute;
	bottom: 0;
	right: 0;
	padding-left: 20px;
}

.main-container {
	width: 100%;
	/* height: 50vh; */
	display: flex;
	justify-content: flex-end;
	position: relative;
	overflow: hide;
	transition: all 5s;
}

.name-on {
	color: rgb(112, 182, 223);
	background-color: yellow;
	transition: all 5s;
	text-shadow: 0 0 2px rgb(234, 235, 205);
}

.lock {
	position: absolute;
	left: 22%;
	top: 17%;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 7.5rem;
	text-shadow: none;
	font-weight: bold;
	color: rgb(112, 182, 223);
}

.lock2 {
	position: absolute;
	left: 15%;
	top: 40%;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 4rem;
	text-shadow: none;
	color: rgb(112, 182, 223);
}

.lock3 {
	position: absolute;
	top: 15%;
	left: 7%;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 4rem;
	text-shadow: none;
	color: rgb(112, 182, 223);
}

.lock4 {
	top: 25%;
	left: 17%;
	position: absolute;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 4rem;
	text-shadow: none;
	color: rgb(112, 182, 223);
}

.lock5 {
	top: 29%;
	left: 9%;
	position: absolute;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 4.2rem;
	text-shadow: none;
	color: grey;
	font-weight: bold;
	color: grey;
}

.text-bg {
	position: absolute;
	height: 100%;
	overflow: hidden;
	opacity: 1;
	color: rgba(99, 104, 107, 0.205);
	transition: all 1s;
}

.description {
	font-size: 1.2em;
	color: grey;
	font-weight: bold;
}

.title-text {
	justify-content: flex-start;
	position: relative;
}

.title-page-box {
	width: 100%;
}

.padder-small {
	height: 40px;
}

.padder-xsml {
	height: 20px;
}

.padder-med {
	height: 40px;
}

.padder-lg {
	height: 100px;
}

.padder {
	height: 650px;
}

.decoration {
	width: 100%;
	height: 30px;
	margin-bottom: 20px;
}
.decoration2 {
	width: 100%;
	height: 5px;
}
.decoration3 {
	width: 100%;
	height: 10px;
}

.greeting {
	height: auto;
	width: 100%;
	text-align: center;
}

h2.white {
	padding-top: 50px;
	padding-bottom: 30px;
}

p.top {
	margin: 0;
	font-size: large;
	font-weight: bold;
}

p.bottom {
	margin-bottom: 20px;
	font-size: large;
	font-weight: bold;
}

.pic {
	height: 40vw;
	transition: all 1s;
	position: relative;
}

.pic:hover {
	height: 42vw;
}

.blue {
	color: rgb(112, 182, 223);
}

.name-blue {
	color: rgb(112, 182, 223);
}

.blue-bg {
	background-color: rgb(112, 182, 223);
}

.orange {
	color: orange;
	font-family: 'Bebas Neue', cursive;
}

.white {
	color: white;
}

.dark {
	color: rgb(48, 51, 78);
}

.resume {
	color: white;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: black;
}

.skills {
	width: 30%;
	height: auto;
	background-color: white;
	display: inline-block;
	border: rgb(112, 182, 223) solid 3px;
	padding-bottom: 50px;
	margin-left: -100px;
	margin-right: 100px;
	margin-bottom: 30px;
}

.skill-title {
	font-weight: bold;
	font-size: 3em;
	padding: 10px 0 15px 0;
	color: white;
	margin-bottom: 30px;
}

h2 span {
	font-size: 3rem;
}

svg {
	transition: all 1s;
}

.skills svg:hover {
	height: 150px;
	width: 150px;
}

.skill-desc {
	font-weight: bold;
	margin-top: 10px;
	color: rgb(48, 51, 78);
	text-decoration: underline;
}

.more {
	padding-top: 70px;
	padding-bottom: 20px;
	font-weight: bold;
}

.hidden {
	display: none;
}

.extra {
	color: rgb(41, 43, 63);
}

.projects-wrapper {
	display: flex;
	justify-content: center;
	height: auto;
	text-align: center;
}

.project-name {
	font-size: 2rem;
	padding-bottom: 5px;
	margin-bottom: 0;
	color: white;
	width: 100%;
}

.wrap {
	width: 30%;
	margin-right: 50px;
}

.proj-desc {
	height: auto;
	background-color: rgba(167, 165, 165, 0.068);
	padding: 0px;
	margin-right: 50px;
	width: 30%;
	text-align: center;
	position: relative;
}

.svg-wrap {
	display: flex;
	text-align: center;
	align-items: flex-end;
	justify-self: flex-end;
	position: absolute;
	bottom: 5%;
	left: 5%;
}

.proj-desc-svg {
	/* position: absolute; */
	height: 15px;
	margin: 0 -50px;
}

.proj-desc-svg2 {
	/* position: absolute; */

	height: 15px;
	margin: 0 -30px;
}

.proj-desc-svg3 {
	/* position: absolute; */
	left: 45%;
	bottom: 5%;
	height: 15px;
	margin: 0 -50px;
}

.proj-desc-svg4 {
	/* position: absolute; */
	left: 65%;
	bottom: 5%;
	height: 15px;
	margin: 0 -30px;
}

.proj-desc-svg5 {
	/* position: absolute; */
	height: 15px;
	margin: 0 -50px;
}

.proj-desc-mobile {
	height: auto;
	background-color: rgba(167, 165, 165, 0.068);
	padding: 0 0 25px 0;
	margin-right: 50px;
	width: 100%;
	text-align: center;
	display: none;
}

.proj-desc-desktop {
	height: auto;
	background-color: rgba(167, 165, 165, 0.068);
	padding: 0 0 25px 0;
	margin-right: 50px;
	width: 30%;
	text-align: center;
	position: relative;
}

.padder-x {
	padding-bottom: 5px;
}

p.proj-description,
p.proj-desc-desktop {
	margin-bottom: 0;
	font-size: 1rem;
	padding: 0 20px;
<<<<<<< HEAD
	text-align: left;

=======
>>>>>>> 2dd119ec71111a9315ce4db904aed04843a3a11c
}

.white-wrap {
	background-color: white;
	height: auto;
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.dark-wrap {
	height: 80%;
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.projects-inner {
	height: 100%;
	text-align: center;
	display: flex;
	padding-top: 50px;
	justify-content: center;
	align-items: center;
}

.proj-header {
	padding: 5px 0 5px 0;
	font-size: 3rem;
	font-weight: bold;
	color: rgb(112, 182, 223);
	margin: -110px 0 50px 0;
	justify-self: center;
}

.img-box {
	height: auto;
	width: 100%;
	border: 2px solid;
	transition: all 3s;
	border: rgb(218, 218, 218) solid 2px;
}

.bg {
	width: 100%;
}

.rounder {
	border-radius: 25px;
	overflow: hidden;
}

.rounder {
	border-radius: 25px;
	overflow: hidden;
}

.proj-pic {
	width: 100%;
}

.proj-pic:hover {
	opacity: 0.9;
}

.card {
	margin: 50px 20px;
	display: block;
	height: auto;
	min-height: 300px;
	min-width: 20%;
}

.proj {
	display: flex;
	height: auto;
	justify-content: center;
	margin-right: -50px;
	text-align: center;
	padding-bottom: 50px;
}

.card-btn {
	bottom: 10%;
	right: 25%;
}

.card-btn2 {
	bottom: 20%;
	right: 25%;
}

.font {
	font-family: 'Barlow Condensed', sans-serif;
}

/* About */

.about-header {
	padding: 10px 0 10px 0;

	font-size: 3rem;
	font-weight: bold;
}

.about-list {
	font-size: 1.5rem;
	padding: 50px 50px;
	line-height: 40px;
	display: inline-block;
	width: 90%;
	background-color: rgba(255, 255, 255, 0.26);
	margin-top: 25px;
	text-align: left;
}

.about-list-wrap {
	display: inline-block;
	text-align: center;
	margin-top: 50px;
}

.big-wrap {
	display: flex;
	justify-content: flex-end;
}

.connect-icon {
	height: 50px;
	margin: 0 25px;
}

h2.white {
	padding-bottom: 0;
}

.drop {
	font-weight: bold;
	padding-bottom: 25px;
}
/* media queries */

@media (max-width: 800px) {
	.proj-header {
		margin-left: 70px;
	}

	.skills {
		width: 90%;
		margin: 0;
		padding: 0;
	}

	.container {
		text-align: center;
	}

	.svg-wrap {
		text-align: center;
		position: static;
		margin-top: 50px;
		padding: 0 0 25px 25%;
	}

	.proj-desc-svg {
		height: 30px;
		margin: 0 -30px;
	}

	.proj-desc-svg2 {
		height: 30px;
		margin: 0 -30px;
	}

	.proj-desc-svg3 {
		height: 30px;
		margin: 0 -30px;
	}

	.proj-desc-svg4 {
		height: 30px;
		margin: 0 -30px;
	}

	.lock {
		left: 42%;
		top: 55%;
		font-size: 5rem;
		text-shadow: none;
		font-weight: bold;
		color: rgb(112, 182, 223);
		z-index: 20;
	}

	.lock2 {
		position: absolute;
		left: 45%;
		top: 85%;
		font-family: 'Barlow Condensed', sans-serif;
		font-size: 2rem;
		text-shadow: none;
		color: rgb(112, 182, 223);
		z-index: 20;
	}

	.lock3 {
		position: absolute;
		top: 35%;
		left: 17%;
		font-family: 'Barlow Condensed', sans-serif;
		font-size: 5rem;
		text-shadow: none;
		color: rgb(112, 182, 223);
		z-index: 20;
	}

	.lock4 {
		top: 60%;
		left: 30%;
		position: absolute;
		font-family: 'Barlow Condensed', sans-serif;
		font-size: 3rem;
		text-shadow: none;
		z-index: 20;
	}

	.lock5 {
		top: 70%;
		left: 25%;
		position: absolute;
		font-family: 'Barlow Condensed', sans-serif;
		font-size: 3rem;
		text-shadow: none;
		color: white;
		font-weight: bold;
		z-index: 20;
	}

	.svg-top {
		display: none;
	}

	.svg-top3 {
		display: none;
	}

	.svg-top4 {
		display: none;
	}

	.row {
		flex-wrap: nowrap;
	}

	.skill-title {
		padding-top: 0;
	}

	.padder {
		height: 2400px;
	}

	.projects-wrapper {
		display: inline-block;
		height: auto;
	}
	.proj-desc {
		margin-top: 30px;
		width: 100%;
	}

	.project-name {
		margin-bottom: 50px;
	}

	.padder-x {
		display: none;
	}

	.proj {
		display: inline-block;
		padding: 0 15px 80px 15px;
	}

	.wrap {
		width: 100%;
		margin-right: 0;
	}
	.projects-inner {
		width: 100%;
		display: inline-block;
		margin-bottom: 50px;
	}

	.proj-desc-mobile {
		display: inline-block;
		margin-top: 30px;
	}

	.proj-desc-desktop {
		display: none;
	}

	h3.sizing {
		font-size: 10rem;
		padding: 10000000px;
	}

	.description {
		font-size: 0.7rem;
		color: grey;
		font-weight: bold;
	}
	.pic {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
	}
	.pic:hover {
		height: 40vh;
	}

	.intro {
		margin-left: 5px;
		margin-right: 5px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.decoration3 {
		margin-top: 0;
	}
}

@media (max-width: 550px) {
	.main-title {
		font-size: 2rem;
		padding-bottom: 10px;
	}

	.proj-desc-mobile {
		display: inline-block;
	}

	.proj-desc-desktop {
		display: none;
	}

	.lock {
		left: 62%;
		top: 55%;
		font-size: 3rem;
		text-shadow: none;
		font-weight: bold;
		color: rgb(112, 182, 223);
		z-index: 20;
	}

	.lock2 {
		position: absolute;
		left: 65%;
		top: 85%;
		font-family: 'Barlow Condensed', sans-serif;
		font-size: 1.5rem;
		text-shadow: none;
		color: rgb(112, 182, 223);
		z-index: 20;
	}

	.lock3 {
		position: absolute;
		top: 35%;
		left: 57%;
		font-family: 'Barlow Condensed', sans-serif;
		font-size: 2rem;
		text-shadow: none;
		color: rgb(112, 182, 223);
		z-index: 20;
	}

	.lock4 {
		top: 60%;
		left: 55%;
		position: absolute;
		font-family: 'Barlow Condensed', sans-serif;
		font-size: 2rem;
		text-shadow: none;
		z-index: 20;
	}

	.lock5 {
		top: 70%;
		left: 53%;
		position: absolute;
		font-family: 'Barlow Condensed', sans-serif;
		font-size: 1.25rem;
		text-shadow: none;
		color: white;
		font-weight: bold;
		z-index: 20;
	}
}

@media (max-width: 550px) {
	.row {
		flex-wrap: wrap;
	}
}
